*{
    padding: 0;
    margin: 0;
}



body{
    height: 100%;
    background-image: url(../img/city.jpg);
    background-size: cover;
    
}


.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}



footer{
    bottom: 0;
    height: 200px;
    width: 100%;
}
 


.site-footercontact{
    margin-top: 20px;
}

.redes i:hover{
    color: aqua;
}

nav ul li a{
    margin: 10px;
    
}

