img{
   height: 100px;
}


.grilla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "educator"
    "first"
    "second"
    "footer";
    gap: 10px;

}

.galeryForex{
    grid-area: educator;
}

.first-time{
    grid-area: first;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.second-time{
    grid-area: second;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer{
    grid-area: footer;
}

.educator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "educator first first first"
        "educator second second second"
        "footer footer footer footer";
        gap: 10px;
    
    }

    .galeryForex{
        grid-area: educator;
    }

    .first-time{
        grid-area: first;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .second-time{
        grid-area: second;
        display: flex; 
        flex-direction: row; 
        gap: 10px;
    }

    footer{
        grid-area: footer;
    }
}

$redes:(
    enviar:rgb(92, 57, 247),
    borrar:rgb(255, 99, 99),
);
@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
        border-radius: 3px;
        height: 40px;
        width: 60px;
    }
    
}



