img{
   height: 100px;
}


.grilla{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "educator"
    "first"
    "second"
    "footer";
    gap: 10px;

}

.galeryForex{
    grid-area: educator;
}

.first-time{
    grid-area: first;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.second-time{
    grid-area: second;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer{
    grid-area: footer;
}

.educator{
    display: flex;
    flex-direction: column;
    align-items: center;
}



