@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Roboto:wght@300;400&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Permanent+Marker&family=Roboto:wght@300;400&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Montserrat:wght@200&family=Permanent+Marker&family=Roboto:wght@300;400&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Montserrat:wght@200;400&family=Permanent+Marker&family=Roboto:wght@300;400&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@500;700&family=Lobster&family=Montserrat:wght@200;400&family=Permanent+Marker&family=Roboto:wght@300;400&family=Rubik:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background-image: url(../img/city.jpg);
  background-size: cover;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  bottom: 0;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-footercontact {
  margin-top: 20px;
}

.redes i:hover, .insta i:hover, .wsp i:hover, .mail i:hover, .face i:hover {
  color: aqua;
}

nav ul li a {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

.font {
  font-family: 'Montserrat', sans-serif;
}

.redes, .insta, .wsp, .mail, .face {
  color: white;
  font-size: 16px;
}

.carousel-inner {
  border: 8px double #9f9f9f;
  height: 400px;
  margin-bottom: 100px;
  margin-top: 50px;
  -webkit-box-shadow: 0px 4px 20px black;
          box-shadow: 0px 4px 20px black;
}

.carousel-inner iframe {
  height: 70vh;
}

img {
  height: 100px;
  width: 100px;
}

.card {
  background-color: #57d6ef57;
  -webkit-box-shadow: 0px 20px 20px black;
          box-shadow: 0px 20px 20px black;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-site {
  border-radius: 10px;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.36);
}

.grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "educator" "first" "second" "footer";
  gap: 10px;
}

.galeryForex {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: educator;
}

.first-time {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: first;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.second-time {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: second;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.educator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .grilla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "educator first first first" "educator second second second" "footer footer footer footer";
    gap: 10px;
  }
  .galeryForex {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: educator;
  }
  .first-time {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: first;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  .second-time {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: second;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: footer;
  }
}
/*# sourceMappingURL=style.css.map */