@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(26, 26, 26);
}

header{
    display: grid;
    background-image: url(../img/fondo..jpg);
    background-size: cover;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

footer{
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 30px;
    margin-bottom: 0;
    margin-top: auto;
}

.headerinicio{
    grid-area: header;
}

.padre{
    grid-area: padre;
}

.footergrids{
    grid-area: footer;
}

.videos{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.contenedor{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "padre"
    "footer";
}

.nosotros{
    display: flex;
    justify-content: center;
}

iframe{
    height: 150px;
    width: 150px;
    border: 4px double white;
}

@media (min-width:768px){
    .contenedor{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% 1fr 20%;
        grid-template-areas: 
        "header header header"
        "padre padre padre"
        "footer footer footer";
    }

    .videos{
        display: flex;
        min-height: 60vh;
        justify-content: space-around;
    }
    


    .navbar{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .navbar a{
        font-size: 20px;
    }

    .item1:hover{
        transform: scale(2);
        transition: all 2s;
    }
    
    .item2:hover{
        transform: scale(2);
        transition: all 2s;
    }
    
    .item3:hover{
        transform: scale(2);
        transition: all 2s;
    }
    
}

img{
    height: 100px;
    width: 100px;
}

.headerForex{
    grid-area: header;
}

.galeryForex{
    grid-area: educador;
}

.galeryF2{
    grid-area: tiempo;
}

.footerforex{
    grid-area: footer;
}

.grillaForex{
    grid-template-areas: 
    "header"
    "educador"
    "tiempo"
    "footer";
}

@media (min-width:768px){
    .grillaForex{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15% 1fr 15%;
        grid-template-areas: 
        "header header header"
        "educador tiempo tiempo"
        "footer footer footer";
    }

    .personita{
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap:wrap;
    }

    .tiempo{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        
    }

    .headerForex{
        padding: 50px;
    }

    img{
        height: 150px;
        width: 150px;
    }


}


